<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/Favicon/favicon.png">

    <link rel="stylesheet" href="/forhome/style.css">
    <link rel="stylesheet" href="/output/output.css">
    <link rel="stylesheet" href="/howtouse/howtouse.css">
    <link rel="stylesheet" href="/aboutus/about.css">

    <title>Bulk Mailer</title>
</head>

<body>

    <nav>
        <a href="/" class="brand">Bulk<span>Mailer</span></a>
        <div class="nav-login-signup-container">
            <ul>
                <li><a class="hover-underline-animation" href="/">Home</a></li>
                <li><a class="hover-underline-animation" href="/aboutus">About us</a></li>
                <li><a class="hover-underline-animation" href="/howtouse">How to use</a></li>
            </ul>
        </div>
    </nav>