<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/forhome/style.css">
    <link rel="stylesheet" href="/output/output.css">

    <title>Top Scerete🫡</title>
</head>

<body>

    <nav>
        <h2>Bulk<span>Mailer</span></h2>
        <div class="nav-login-signup-container">
            <ul>
                <li><a class="hover-underline-animation" href="/">Home</a></li>
                <li><a class="hover-underline-animation" href="#">About us</a></li>
                <li><a class="hover-underline-animation" href="#">How to use</a></li>
            </ul>
        </div>
    </nav>