<%- include('partials/header') %>
    <h2>About us</h2>
    <hr>

    <div class="au-container">

        <div class="au-data">
            <div class="au-img">
                <img src="" alt="">
            </div>
            <div class="au-names">
                <p>John Doe</p>
                <a href="">Contact me</a>
                <a href="">resume</a>
            </div>
        </div>

        <div class="au-data">
            <div class="au-img">
                <img src="" alt="">
            </div>
            <div class="au-names">
                <p>John Doe</p>
                <a href="">Contact me</a>
                <a href="">resume</a>
            </div>
        </div>

        <div class="au-data">
            <div class="au-img">
                <img src="" alt="">
            </div>
            <div class="au-names">
                <p>John Doe</p>
                <a href="">Contact me</a>
                <a href="">resume</a>
            </div>
        </div>

        <div class="au-data">
            <div class="au-img">
                <img src="" alt="">
            </div>
            <div class="au-names">
                <p>John Doe</p>
                <a href="">Contact me</a>
                <a href="">resume</a>
            </div>
        </div>


    </div>
    <%- include('partials/footer') %>