<%- include('partials/header') %>
    <h2>About us</h2>
    <hr>

    <div class="au-container">

        <div class="au-data">
            <h3>
                Vignesh Kundar
            </h3>
            <h4>Contact info :</h4>
            <ul>
                <li> <a href="mailto:vigneshkundar125@gmail.com">vigneshkundar125@gmail.com</a></li>
                <li> <a href="http://www.linkedin.com/in/vignesh-kundar">Linkedin</a> </li>
            </ul>

        </div>

        <div class="au-data">
            <h3>

                Udith Bekal
            </h3>
            <h4>Contact info :</h4>
            <ul>
                <li> <a href="mailto:udithbkl100@gmail.com">udithbkl100@gmail.com</a></li>
                <li> <a href=" https://www.linkedin.com/in/udith-bekal">Linkedin</a> </li>
            </ul>

        </div>

        <div class="au-data">
            <h3>
                Paramashiva Karanth
            </h3>
            <h4>Contact info :</h4>
            <ul>
                <li> <a href="mailto:paramashivakaranth@gmail.com">paramashivakaranth@gmail.com</a></li>
                <li> <a href=" https://www.linkedin.com/in/paramashiva-karanth-a1a64a1a6/">Linkedin</a> </li>
            </ul>

        </div>

        <div class="au-data">
            <h3>
                Pranay Bekal
            </h3>
            <h4>Contact info :</h4>
            <ul>
                <li> <a href="mailto:bekalpranay@gmail.com">bekalpranay@gmail.com</a></li>
                <li> <a href="https://www.linkedin.com/in/pranay-bekal-b042381a9">Linkedin</a> </li>
            </ul>

        </div>


    </div>
    <%- include('partials/footer') %>