<%- include('partials/header') %>

    <h2>How to use the app.</h2>
    <hr>

    <div class="container-htu">

        <div class="container1 C">
            <label for="container1-data">Heading</label>
            <div class="" id="container1-data">
                <p> <span>use span to change color ! and everything already styled just add content</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quidem voluptates esse qui eligendi ipsum quaerat quasi! Possimus pariatur nam eaque
                    aliquam magnam. Eum voluptatibus necessitatibus facilis saepe dolore voluptate. Ratione quae voluptas perferendis distinctio est earum assumenda ipsa nesciunt odit, natus voluptates repellat excepturi nobis! Tempore omnis perferendis
                    neque nobis officia id laboriosam obcaecati. Quaerat temporibus culpa impedit asperiores! At modi aspernatur neque ullam repudiandae sunt, repellat numquam non eveniet eos provident necessitatibus tempore dolorum optio consequuntur
                    temporibus quis! Commodi quos sequi laborum ad corrupti maiores, maxime assumenda officiis? Asperiores rem eveniet non ad quidem <span>exercitationem</span> maxime nobis necessitatibus, facilis laborum odio, cupiditate maiores temporibus.
                    Non debitis eligendi obcaecati molestiae, cupiditate officia repudiandae qui quisquam, quidem voluptatum quis esse? Minima libero corporis iusto amet incidunt eaque, dicta excepturi ut cum eveniet dolorem aspernatur facere earum ad
                    beatae omnis aperiam mollitia consectetur quisquam eum magnam perspiciatis ullam molestias corrupti? Vero.</p>
            </div>
        </div>

        <div class="container1 C">
            <label for="container1-data">Heading</label>
            <div class="" id="container1-data">
                <ul>
                    <li>testing </li>
                    <li>testing </li>
                    <li>testing <span>cbr 250</span> </li>
                    <li>testing </li>
                    <li>testing </li>
                </ul>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>