<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Top Scerete🫡</title>
</head>

<body>

    <nav>
        <h2>Bulk<span>Mailer</span></h2>
        <div class="nav-login-signup-container">
            <ul>
                <li>Login</li>
                <li>Sign-up</li>
            </ul>
        </div>
    </nav>

    <!-- main container -->
    <div class="container">

        <div class="upload-container">
            <form action="/fileupload" method="post" enctype="multipart/form-data">
                <!-- file-input-div -->
                <div class="file-input-div">
                    <input type="file" name="filetoupload" id="" ">
                </div>
               
                <button type="submit ">Submit</button>
            </form>
        </div>

        <!-- end of main container -->


        <!-- Bubbles -->


        </script>



</body>

</html>