<%- include('partials/header') %>

    <!-- main container -->
    <div class="container">

        <div class="upload-container">

            <div class="text-div">
                <h2>Add your .csv File</h2>
            </div>


            <form action="/fileupload" method="post" enctype="multipart/form-data">
                <!-- file-input-div -->

                <div class="file-input-div">
                    <input type="file" name="filetoupload" id="" ">
                </div>
               <div class="btn-container ">
                <button class="btn-4 " type="submit ">Submit</button>
               </div>
               
            </form>

        </div>

        <!-- end of main container -->

        <%- include('partials/footer') %>