<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Top Scerete🫡</title>
</head>

<body>

    <nav>
        <h2>Bulk<span>Mailer</span></h2>
        <div class="nav-login-signup-container">
            <ul>
                <li><a class="hover-underline-animation" href="#">Login</a></li>
                <li><a class="hover-underline-animation" href="#">Sign-up</a></li>
            </ul>
        </div>
    </nav>

    <!-- main container -->
    <div class="container">

        <div class="upload-container">

            <div class="text-div">
                <h2>Add your .csv File</h2>
            </div>


            <form action="/fileupload" method="post" enctype="multipart/form-data">
                <!-- file-input-div -->

                <div class="file-input-div">
                    <input type="file" name="filetoupload" id="" ">
                </div>
               <div class="btn-container ">
                <button class="btn-4 " type="submit ">Submit</button>
               </div>
               
            </form>

        </div>

        <!-- end of main container -->


        <!-- Bubbles -->
      
        <ul class='circles'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <script>
            jQuery(document).ready(function() {
                jQuery(".container-wrap ").append(
                    `<ul class='circles'>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    </ul>` ); });
                    </script>







</body>

</html>