<%- include('partials/header') %>

    <!-- main container -->
    <div class="container">

        <div class="upload-container">

            <form action="/fileupload" method="post" enctype="multipart/form-data">
                <div><input type="email" class="bb" name="email" placeholder="Email" id="email"></div>
                <div><input type="password" class="bb" name="password" placeholder="Password" id="password"></div>
                <div><input type="text" name="subject" class="bb" placeholder="Subject" id="subject"></div>
                <div><textarea name="message" id="message" class="bb" placeholder="Message" cols="50" rows="5"></textarea></div>
                <div><input type="file" class="file" name="filetoupload"><br></div>
                <div><input type="submit" class="button"></div>
            </form>

        </div>

        <!-- end of main container -->

        <%- include('partials/footer') %>