<%- include('partials/header') %>
    <div class="output-header">
        <h2>Validatation of Mails</h2>
    </div>
    <div class="output-container">

        <!-- valid div -->
        <div class="valid-container val-inv">
            <h3>Valid mails</h3>
            <% V.forEach(vdata => { %>
                <div class="data">
                    <p>
                        <%= vdata %>
                    </p>
                </div>
                <%}) %>


        </div>
        <p>count :</p>


        <!-- invalid-div -->
        <div class="invalid-container val-inv">
            <h3>Invalid mails</h3>
            <% I.forEach(idata => { %>
                <div class="data">
                    <p>
                        <%= idata %>
                    </p>
                </div>
                <%}) %>

        </div>
        <p>count :</p>



        <%- include('partials/footer') %>