@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
body {
    background: #20002c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    margin: 0;
    position: inherit;
    z-index: 0;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    // background-color: rgba(255, 255, 255, 0.10);
    h2 {
        margin: 0 40px;
        color: rgb(106, 51, 94);
        font-family: 'Cookie', cursive;
        font-size: 3.5rem;
        cursor: pointer;
        span {
            color: rgb(120, 153, 223);
            font-family: 'Cookie', cursive;
        }
    }
    h2::after {
        content: "beta";
        font-size: 10px;
        margin: 5px;
        font-family: 'Cookie', cursive;
    }
    .nav-login-signup-container {
        margin-right: 40px;
        ul {
            display: flex;
            li {
                list-style: none;
                font-size: 1.5rem;
                margin: 0 10px;
                a {
                    text-decoration: none;
                    font-family: poppins;
                    color: #fff;
                }
            }
        }
    }
}

.container {
    position: inherit;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-container {
        position: relative;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        height: 50vh;
        width: 60vw;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        border-top: .5px solid rgba(255, 255, 255, 0.5);
        border-left: .5px solid rgba(255, 255, 255, 0.5);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.379);
        .text-div {
            margin: 20px 0;
            position: absolute;
            filter: blur(3px);
            font-family: poppins;
            letter-spacing: -5px;
            color: rgba(255, 255, 255, 0.75);
            font-size: 1em;
            top: -25px;
            text-shadow: 2px 2px 5px #0a0a0a6e;
            transition: all 5s;
        }
        &:hover {
            .text-div {
                transition: all 0.5s;
                letter-spacing: 5px;
                filter: blur(0);
                font-size: 2em;
            }
        }
        .file-input-div {
            margin-top: 20%;
            input[type="file"] {
                padding: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                border: none;
                border-radius: 5px;
                font-family: poppins;
                font-weight: bold;
            }
            input[type="file"]::file-selector-button {
                padding: 3%;
                background-color: rgba(10, 10, 10, 0.25);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
                border-top: .5px solid rgba(255, 255, 255, 0.5);
                border-left: .5px solid rgba(255, 255, 255, 0.5);
                font-family: poppins;
                font-weight: bold;
            }
            input[type="file"] {
                cursor: pointer;
            }
        } //input-file-div-ends here
        .btn-container {
            width: 100%;
            text-align: center;
            margin: 15px auto;
            button {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                font-family: poppins;
                font-weight: 700;
                cursor: pointer;
                background: lightgreen;
            }
            button:hover {
                transition: all 0.5s;
                padding: 12px 27px;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.379);
            }
        }
    } //upload-container
}

@import 'hoverUnderline';
@import '_background';