.media-q {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #171717;
    padding: auto;
    p {
        text-align: center;
        font-family: 'poppins';
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 1200px) {
    .media-q {
        display: block;
    }
}