@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
//mixins
@mixin glass-div($opacity,
$shadow: 0.25,
$border-op: 0.25) {
    border-top: .5px solid rgba(255, 255, 255, $border-op);
    border-left: .5px solid rgba(255, 255, 255, $border-op);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, $shadow);
    background: rgba(255, 255, 255, $opacity);
    backdrop-filter: blur(5px);
}

body {
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
    box-sizing: border-box;
    margin: 0;
    position: inherit;
    z-index: 0;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    h2 {
        margin: 0 40px;
        color: rgb(106, 51, 94);
        font-family: 'Cookie', cursive;
        font-size: 3.5rem;
        cursor: pointer;
        span {
            color: rgb(120, 153, 223);
            font-family: 'Cookie', cursive;
        }
    }
    h2::after {
        content: "beta";
        font-size: 10px;
        margin: 5px;
        font-family: 'Cookie', cursive;
    }
    .nav-login-signup-container {
        margin-right: 40px;
        ul {
            display: flex;
            li {
                list-style: none;
                font-size: 1.5rem;
                margin: 0 10px;
                a {
                    text-decoration: none;
                    font-family: poppins;
                    color: #fff;
                }
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10vh;
        height: fit-content;
        width: 60vw;
        border-radius: 10px;
        text-align: center;
        @include glass-div($opacity: 0);
        font-family: poppins;
        label {
            padding: 10px;
            font-family: poppins;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.25rem;
        }
        .input-div-email-message {
            display: flex;
            justify-content: space-between;
            .container-1,
            .container-2 {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin: 60px auto;
            }
            .email-password-div,
            .message-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.025);
                border-radius: 10px;
                margin: 10px 50px;
                transition: all 0.5s ease-in;
                &:hover {
                    transition: all 0.5s ease-in;
                    background-color: rgba(255, 255, 255, 0.05);
                }
                input,
                textarea {
                    width: 90%;
                    outline: none;
                    padding: 10px;
                    color: white;
                    font-family: poppins;
                    font-weight: 500;
                    border-style: none;
                    margin: 10px;
                    border-radius: 10px;
                    font-size: 1.25rem;
                    transition: all 1s ease-in;
                    resize: none;
                    @include glass-div($opacity: 0.01, $shadow: 0, $border-op: 0);
                    &::placeholder {
                        color: black;
                    }
                    &:focus {
                        transition: all 0.5s ease-in;
                        @include glass-div($opacity: 0.25);
                    }
                }
            }
        } //input-div-email-message end
        .input-file-div {
            margin: 10px auto;
            button {
                font-family: poppins;
                font-weight: bold;
                cursor: pointer;
                padding: 10px 20px;
                background-color: lightgreen;
                border: none;
                margin: 10px;
                border-radius: 10px;
            }
        }
    }
}

@import 'hoverUnderline';
@import 'background';
//file input styles
input[type="file"] {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    font-family: poppins;
    font-weight: bold;
}

input[type="file"]::file-selector-button {
    padding: 3%;
    background-color: rgba(10, 10, 10, 0.25);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border-top: .5px solid rgba(255, 255, 255, 0.5);
    border-left: .5px solid rgba(255, 255, 255, 0.5);
    font-family: poppins;
    font-weight: bold;
}

input[type="file"] {
    cursor: pointer;
}