@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
body {
  background: #4776E6;
  background: -webkit-gradient(linear, left top, right top, from(#8E54E9), to(#4776E6));
  background: linear-gradient(to right, #8E54E9, #4776E6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  position: inherit;
  z-index: 0;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

nav h2 {
  margin: 0 40px;
  color: #6a335e;
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  cursor: pointer;
}

nav h2 span {
  color: #7899df;
  font-family: 'Cookie', cursive;
}

nav h2::after {
  content: "beta";
  font-size: 10px;
  margin: 5px;
  font-family: 'Cookie', cursive;
}

nav .nav-login-signup-container {
  margin-right: 40px;
}

nav .nav-login-signup-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-login-signup-container ul li {
  list-style: none;
  font-size: 1.25rem;
  margin: 0 10px;
}

nav .nav-login-signup-container ul li a {
  text-decoration: none;
  font-family: poppins;
  color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 60vw;
  border-radius: 10px;
  text-align: center;
  border-top: 0.5px solid rgba(255, 255, 255, 0.25);
  border-left: 0.5px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-family: poppins;
}

.container .upload-container label {
  padding: 10px;
  font-family: poppins;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.container .upload-container .input-div-email-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .upload-container .input-div-email-message .container-1,
.container .upload-container .input-div-email-message .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
}

.container .upload-container .input-div-email-message .email-password-div,
.container .upload-container .input-div-email-message .message-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  margin: 10px 50px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.container .upload-container .input-div-email-message .email-password-div:hover,
.container .upload-container .input-div-email-message .message-div:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: rgba(255, 255, 255, 0.05);
}

.container .upload-container .input-div-email-message .email-password-div input,
.container .upload-container .input-div-email-message .email-password-div textarea,
.container .upload-container .input-div-email-message .message-div input,
.container .upload-container .input-div-email-message .message-div textarea {
  width: 90%;
  outline: none;
  padding: 10px;
  color: white;
  font-family: poppins;
  font-weight: 500;
  border-style: none;
  margin: 10px;
  border-radius: 10px;
  font-size: 1rem;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  resize: none;
  border-top: 0.5px solid rgba(255, 255, 255, 0);
  border-left: 0.5px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .upload-container .input-div-email-message .email-password-div input::-webkit-input-placeholder,
.container .upload-container .input-div-email-message .email-password-div textarea::-webkit-input-placeholder,
.container .upload-container .input-div-email-message .message-div input::-webkit-input-placeholder,
.container .upload-container .input-div-email-message .message-div textarea::-webkit-input-placeholder {
  color: black;
}

.container .upload-container .input-div-email-message .email-password-div input:-ms-input-placeholder,
.container .upload-container .input-div-email-message .email-password-div textarea:-ms-input-placeholder,
.container .upload-container .input-div-email-message .message-div input:-ms-input-placeholder,
.container .upload-container .input-div-email-message .message-div textarea:-ms-input-placeholder {
  color: black;
}

.container .upload-container .input-div-email-message .email-password-div input::-ms-input-placeholder,
.container .upload-container .input-div-email-message .email-password-div textarea::-ms-input-placeholder,
.container .upload-container .input-div-email-message .message-div input::-ms-input-placeholder,
.container .upload-container .input-div-email-message .message-div textarea::-ms-input-placeholder {
  color: black;
}

.container .upload-container .input-div-email-message .email-password-div input::placeholder,
.container .upload-container .input-div-email-message .email-password-div textarea::placeholder,
.container .upload-container .input-div-email-message .message-div input::placeholder,
.container .upload-container .input-div-email-message .message-div textarea::placeholder {
  color: black;
}

.container .upload-container .input-div-email-message .email-password-div input:focus,
.container .upload-container .input-div-email-message .email-password-div textarea:focus,
.container .upload-container .input-div-email-message .message-div input:focus,
.container .upload-container .input-div-email-message .message-div textarea:focus {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-top: 0.5px solid rgba(255, 255, 255, 0.25);
  border-left: 0.5px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .upload-container .input-file-div {
  margin: 10px auto;
}

.container .upload-container .input-file-div button {
  font-family: poppins;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  background-color: lightgreen;
  border: none;
  margin: 10px;
  border-radius: 10px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 217, 255, 0.517);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  /* border-radius: 50%; */
  /* border-top-left-radius: 0 !important; */
  background: rgba(19, 3, 244, 0.449);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(0, 217, 255, 0.483);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(17, 0, 255, 0.462);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  /* border-radius: 50%; */
  /* border-top-left-radius: 0 !important; */
  background: rgba(154, 0, 249, 0.463);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(0, 217, 255, 0.497);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(157, 0, 255, 0.544);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(17, 0, 255, 0.1);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(157, 0, 255, 0.1);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(17, 0, 255, 0.1);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  border-radius: 50%;
  /* border-top-left-radius: 0 !important; */
  background: rgba(0, 217, 255, 0.1);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-60vh) rotate(360deg);
            transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-120vh) rotate(720deg);
            transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-60vh) rotate(360deg);
            transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-120vh) rotate(720deg);
            transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}

input[type="file"] {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  font-family: poppins;
  font-weight: bold;
}

input[type="file"]::file-selector-button {
  padding: 3%;
  background-color: rgba(10, 10, 10, 0.25);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
  font-family: poppins;
  font-weight: bold;
}

input[type="file"] {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */