.val-inv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 5px;
}

.val-inv::-webkit-scrollbar {
    width: 13px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.val-inv::-webkit-scrollbar-thumb {
    background-color: #cacaca50;
    border-radius: 5px;
}

.val-inv::-webkit-scrollbar-thumb:hover {
    background-color: #cacacac4;
}